/* for use of fontawesome's awesome logo's */
@import url("//use.fontawesome.com/releases/v5.15.3/css/all.css");

/* general stuff */

body{
    margin: 0;
    font-family: Montserrat, sans-serif;
    overflow-x: hidden;
    background-color: #FEF8F8;
}

/* removes styling from all <a> tags, making them appear as <p> tags */

a{
    list-style-type: none;
    text-decoration: none;
}

/* all styling for the header */

#header_wrapper{
    letter-spacing: 2px;

     height: 75px;
     width: 100vw;
     max-width: 100%;
     display: table;
     background-color: black;
}

#header_wrapper > div{
    display: table-cell
}

#header_wrapper a{
    height: 100%;
    margin: 0 10px;
    color: white;
    transition: .4s;
}

#header_wrapper a:hover{
    color: yellow;
}

#head_wrapper_right{
    text-align: right;
    width: 50%;
    padding: 0 10px;
    padding-right: 50px;
    vertical-align: middle;
}

#head_wrapper_right .btn2{
    text-align: center;
    height: 90%;
    font-family: Montserrat;
    position: relative;
    right: 150px;
}

#head_wrapper_left{
    text-align: left;
    width: 50%;
    padding-left: 50px;
    vertical-align: middle;
}

#header_logo{
    height: 65px;
    margin: 5px;
}

#header_wrapper_center img{
    vertical-align: middle;
}

.w3-dropdown-click:hover{
    background-color: transparent !important;
}

.dropdown-item{
    margin: 0 !important;
    color: black !important;
}

/* styling for the 'featured offer' in index */

#featured_offer_parent{
    height: 825px;
    width: 100vw;
    /* background-image: url('../../images/test_image_1.png'); */
    background-image: url('../../images/random/item_15.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

#featured_offer_bottom{
    text-align: center;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,.9) 50%, rgba(255,255,255,.20) 100%);
    position: relative;
    top: 650px;
    height: 175px;
    left: 0;
    display: table;
    width: 100%;
}

#featured_offer_bottom h1{
    width: 100%;
    margin-top: 0 auto;
    display: table-cell;
    vertical-align: middle;
    font-size: 75px;
    font-family: Montserrat SemiBold, sans-serif;
    transition: .35s;
}


#featured_offer_bottom h1:hover{
    font-size: 80px;
    transition: .35s;
}

/* styling for 4 'most popular items' in index */

.black{
    color: black;
}

#most_popular_showcase_wrapper{
    display: grid;
    width: 95vw;
    margin: 0 auto;
    grid-column-gap: 1vw;
    grid-template-columns: 23vw 23vw 23vw 23vw;
}

#most_popular_showcase_wrapper h1{
    grid-row: 1;
    grid-column: 2/4;
    margin: 0 auto;
    margin-top: 50px;
    font-family: Montserrat ExtraLight, sans-serif;
    letter-spacing: 4px;
}
#most_popular_showcase_wrapper h2{
    grid-row: 2;
    grid-column: 2/4;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 25px;
    font-family: Montserrat Light, sans-serif;
    letter-spacing: 2px;
}

/* unique properties for all 4 items (position and image) */

#most_popular_item_1{
    grid-column: 1/2;
    grid-row: 3;
    background-image: url('../../images/most_popular_showcase/item_1.png');
}
#most_popular_item_2{
    grid-column: 2/3;
    grid-row: 3;
    background-image: url('../../images/most_popular_showcase/item_2.png');
}
#most_popular_item_3{
    grid-column: 3/4;
    grid-row: 3;
    background-image: url('../../images/most_popular_showcase/item_3.png');
}
#most_popular_item_4{
    grid-column: 4/5;
    grid-row: 3;
    background-image: url('../../images/most_popular_showcase/item_4.png');
}

.most_popular_items{
    display: inline-block;
    width: 100%;
    height: 275px;
    background-size: cover;
    background-position: center center;
    background-color: rgba(255, 255, 255, .5);
}

.most_popular_items_cover{
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, .5);
    margin-top: -35px;
    opacity: 0;
    transition: .3s;
}

.most_popular_items .most_popular_items_cover:hover{
    opacity: 1;
}

.most_popular_items_cover h3{
    font-size: 35px;

    position: relative;
    top: 100px;
    text-align: center;
}

.most_popular_items_cover p{
    font-size: 27.5px;

    margin-top: 100px;
    text-align: center;
}

/* general settings for a few buttons */

.animated_buttons{
    font-family: Montserrat SemiBold, sans-serif;
    font-size: 30px;
    width: 500px;
    height: 50px;
    position: relative;
    left: 50%;
    margin-left: -200px;
    margin-top: 50px;
}

/* styling for the 'most popular categories' in index */

#popular_categories_wrapper{
    margin: 35px;
    margin-top: 250px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 33% 33% 33%;
}

.popular_categories{
    grid-row: 1;
    width: 100%;
    height: 365.75px;
    background-size: contain;
}

.popular_items_cover{
    background-color: rgba(0,0,0,.7);
    width: 100%;
    height: 100%;
    margin: 0;
    margin-top: -50px;
    color: white;
    transition: .2s ease-in-out;
}

.popular_categories h1, .popular_categories p{
    margin: 0;
    position: relative;
    top: 30px;
    left: 40px;
    width: 400px;
}
.popular_categories p{
    top: 45px;
    opacity: 1;
}

/* unique properties (position and image) */

#popular_category_1{
    grid-column: 1/2;
    background-image: url('../../images/popular_categories_showcase/EMU.png');
}
#popular_category_2{
    grid-column: 2/3;
    background-image: url('../../images/popular_categories_showcase/klassieker.png');
}
#popular_category_3{
    grid-column: 3/4;
    background-image: url('../../images/popular_categories_showcase/international.png');
    background-size: contain;
}

/* styling for buttons in the 'most popular categories' showcas */

#view_all_emus_button, #view_all_classics_button, #view_all_internationals_button{
    font-family: Montserrat SemiBold, sans-serif;
    font-size: 30px;
    width: 250px;
    top: 55%;
    margin-left: -125px;
    z-index: 99;
}

#view_all_classics_button{
    width: 400px;
    margin-left: -200px;
}

#view_all_internationals_button{
    width: 450px;
    margin-left: -225px;
}

.popular_items_cover{
    position: relative;
    top: -50px
}

#popular_category_1 .popular_items_cover:hover, #popular_category_2 .popular_items_cover:hover, #popular_category_3 .popular_items_cover:hover{
    opacity: 0;
    transition: .1s ease-in-out;
}

/* styling 'about us' in index */

#info_wrapper{
    margin: 35px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 550px;
}

.info_text_wrapper{
    padding: 150px;
    grid-row: 1;
    grid-column: 1/2;
}

.info_text_wrapper h1{
    font-family: Montserrat ExtraLight, sans-serif;
    letter-spacing: 8px;
    font-size: 15px;
}
.info_text_wrapper h2{
    font-family: Montserrat Light, sans-serif;
    margin-top: -15px;
}

.info_img_wrapper{
    margin: 0;
    grid-row: 1;
    grid-column: 2/3;
    width: 100%;
    height: 100%;
    background-image: url(../../images/random/item_21.jpg);
    background-size: cover;
    background-repeat: none !important;
}

#location_img{
    grid-row: 2;
    grid-column: 1/2;
    background-image: url(../../images/random/item_13.jpg);
}
#location_text{
    grid-row: 2;
    grid-column: 2/3;
}

#satisfaction_text{
    grid-row: 3;
}

#satisfaction_img{
    grid-row: 3;
    background-image: url(../../images/random/item_8.jpg);
}

/* styling staffmembers in index */

#staff_wrapper{
    margin: 0 auto;
    width: 1200px;
    padding: 0;
}

#staff_img_wrapper{
    display: grid;
    grid-template-columns: 132.5px 132.5px 132.5px 132.5px 132.5px 132.5px 132.5px 132.5px 132.5px ;
    grid-template-rows: 450px 50px 50px 400px 50px;
    grid-gap: 20px;
}

.staff_members{
    width: 100%;
    height: 100%;
    grid-row: 1;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transition: .1s ease-in-out;
}

#staff_wrapper h1{
    text-align: center;
    font-family: Montserrat BOLD, sans-serif;
    font-size: 50px;
}

#staff_wrapper h2{
    text-align: center;
    font-family: Montserrat Light, sans-serif;
    letter-spacing: 4px;
    margin-top: -20px;
    margin-bottom: 40px;
}
#staff_img_wrapper h4{
    margin-top: -20px;
}
#staff_img_wrapper h3{
    grid-row: 2;
    text-align: center;
    font-family: Montserrat extrabold, sans-serif;
}
#staff_img_wrapper h4{
    grid-row: 3;
    text-align: center;
    font-family: Montserrat extralight, sans-serif;
    letter-spacing: 2px;
}

/* staffmembers' names position */

.staff_name_1{
   grid-column: 1/3;
}
.staff_name_2{
   grid-column: 3/5;
}
.staff_name_3{
   grid-column: 5/7;
}
.staff_name_4{
   grid-column: 7/9;
}
.staff_name_5{
    grid-row: 5 !important;
    grid-column: 3/7;
}
#hedge_function{
    grid-row: 6 !important;
}

/* staffmembers position + hover image*/

#staff_member_1{
    grid-column: 1/3;
    background-image: url(../../images/staff/staff_1.png);
}
#staff_member_1:hover{
    background-image: url(../../images/staff/staff_1_alt.png);
}
#staff_member_2{
    grid-column: 3/5;
    background-image: url(../../images/staff/staff_2.png);
}
#staff_member_2:hover{
    background-image: url(../../images/staff/staff_2_alt.png);
}
#staff_member_3{
    grid-column: 5/7;
    background-image: url(../../images/staff/staff_3.png);
}
#staff_member_3:hover{
    background-image: url(../../images/staff/staff_3_alt.png);
}
#staff_member_4{
    grid-column: 7/9;
    background-image: url(../../images/staff/staff_4.png);
}
#staff_member_4:hover{
    background-image: url(../../images/staff/staff_4_alt.png);
}
#staff_member_5{
    grid-row: 4;
    grid-column: 3/7;
    background-image: url(../../images/staff/staff_5.png);
    background-size: cover;
}
#staff_member_5:hover{
    background-image: url(../../images/staff/staff_5_alt.png);
}

/* styling footer */

#footer{
    background-image: url(../../images/random/item_24.jpg);
    width: 100vw;
    height: 800px;
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    background-color: rgba(0,0,0,.5);
    background-blend-mode: darken;
    z-index: 98;
    
    color: white;
    font-size: 25px;
    font-family: montserrat, sans-serif;
}

#footer_wrapper_1{
    margin: 50px 150px -150px 0;
    grid-row: 1;
    width: 100%;
    height: 650px;
    display: grid;
    grid-template-rows: 125px 50px 50px 50px;
    grid-template-columns: 33% 17% 50%;
}
#footer_wrapper_1 h1, #footer_wrapper_1 p{
    margin-left: 150px;
}

/* position of all footer information */

#footer_wrapper_1 h1{
    grid-row: 1;
    grid-column: 1/2;
}

#footer_wrapper_p{
    grid-column: 1/2;
}
#contact_1{
    grid-row: 2;
}
#contact_2{
    grid-row: 3;
}
#contact_3{
    grid-row: 4;
}
#contact_4{
    grid-row: 5;
}
#contact_5{
    grid-column: 3/4;
    grid-row: 2/5;
}
#contact_5 a{
    color: white;
    transition: .4s;
}
#contact_5 a:hover{
    color: rgb(229, 190, 3);
}

#footer_wrapper_1 h2{
    grid-row: 6;
    grid-column: 1/4;
    width: 100%;
    text-align: center;
    margin-bottom: -50px;
}

#footer_wrapper_2{
    width: 30%;
    margin: 0 auto;
    grid-row: 2;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}











/* extended css for categories page */

/* styling of the divisions */

#products_categories_showcase{
    width: 100vw;
    padding: 50px 0;
}

#products_categories_wrapper{
    display: grid;
    justify-content: center;
    grid-template-columns: 20vw 20vw 20vw 20vw;
    grid-gap: 3.33vw;
}

.products_categories_category{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;    
    height: 225px;
    text-align: center;
    font-family: montserrat EtraBold, sans-serif;
    font-size: 24px;
    background-color: rgba(0,0,0,.75);
    transition: .42s ease-in-out;
    background-blend-mode: darken;
}

/* styling of text within the divisions */

.products_categories_category h1, .products_categories_category p{
    margin: 0;
    padding-top: 25px;
    line-height: 85%;
    color: white;
    transition: .4s;
}

.products_categories_category p{
    padding-top: 0;
}

.products_categories_category p{
    margin-top: 15px;
}

/* all hover effects */

.products_categories_category:hover{
    cursor: pointer;
    transition: .2s ease-in-out;
    margin: -7.5%;
    width: 115%;
    height: 115%;
    background-blend-mode: normal;
}

.products_categories_category:hover h1, .products_categories_category:hover p{
    color:rgba(0,0,0,0);
    transition: .4s;
}





/* extended css for products page */

/* general settings for positions */

#products_wrapper{
    display: grid;
    grid-template-columns: 20vw 20vw 20vw 20vw 20vw;
}

.products_product_wrapper{
    z-index: 1;
    width: 100%;
    height: 30vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* styling for text (name's) */

.products_product_wrapper h1{
    text-align: center;
    background-color: rgba(0,0,0,.5);
    color: white;
    width: 100%;
    height: 5vh;
    position: relative;
    top: 25vh;
    transition: .4s;
    margin-top: 0;
}

/* styling for product descriptions */

.products_product_wrapper p{
    color: yellow;
    font-size: 25px;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transition: .6s;
    position: relative;
    top: 25vh;
}

/* styling for hover properties */

.products_product_wrapper:hover{
    cursor: pointer;
}

.products_product_wrapper:hover h1{
    color: yellow;
    height: 100%;
    top: 0;
    margin-top: 0;
}

.products_product_wrapper:hover p{
    visibility: visible;
    opacity: 1;
    position: relative;
    top: -22.5vh;
}






/* styling for product page */

#back_to_products_button{
    font-size: 50px;
    color: darkblue;
    position: absolute;
    top: 100px;
    left: 25px;
    transition: .15s ease-in-out;
}

#back_to_products_button:hover{
    left: 10px;
    cursor: pointer;
    color: rgb(229, 190, 3);
}

.mySlides{
    display: none;
    width: 70vw;
    height: 70vh;
    object-fit: cover;
}

.w3-left, .w3-right, .w3-badge{
    cursor: pointer;
}

.w3-badge{
    height: 13px;
    width: 13px;
    padding: 0;
}

#product_name{
    font-family: montserrat, sans-serif;
    width: 70vw;
    height: 65px;
    vertical-align: middle;
    text-align: center;
    margin: 0 auto;
    color: white;
    background: linear-gradient(0deg, rgba(0,0,0,.5) 0%, rgba(0,0,0,.85) 100%);;
    position: absolute;
}

#product_info_wrapper{
    width: 70vw;
    margin: 0 auto;
}

#product_info_wrapper > p{
    width: 100%;
    text-align: center;
    font-family: montserrat, sans-serif;
    font-size: 20px;
    padding: 0px 75px;
}

#product_info_subwrapper_1{
    float: left;
}

.product_info_subwrapper{
    width: 50%;
    margin: 0;
    display: inline;
}

#product_price_wrapper{
    margin-top: 0;
    width: 70vw;
    height: 70px;
    margin: 0 auto;
    text-align: center;
    background-color: black;
    color: white;
    transition: .35s;
}

#product_price_wrapper h1{
    font-family: montserrat bold, sans-serif;
    font-size: 50px;
    vertical-align: middle;
    margin: 0;
    transition: .3s;
}

#product_price_wrapper:hover h1{
    color: yellow;
}

#category_name{
    text-align: center;
    font-size: 50px;
    margin: 25px;
}










/* styling for cart page */


#cart_main_wrapper{
    width: 70%;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 100px;
}

.cart_item{
    padding: 25px;
    background-color: rgba(0,0,0,.5);
    width: 100%;
    margin-bottom: 5px;
}

.cart_item h1, .cart_item h2, .cart_item input, .cart_item h3, .cart_item i{
    display: inline-block;
}

.cart_item h3{
    float: right;
    position: relative;
    right: 50px;
    top: 50px;
}

.cart_item i{
    float: right;
    position: relative;
    top: 30px;
    font-size: 30px;
    color: black;
    transition: .35s;
}

.cart_item i:hover{
    color:rgb(229, 190, 3);
    cursor: pointer;
}

.cart_item input{
    position: absolute;
    left: 1100px;
    margin-top: 50px;
    outline: none;
}

.cart_item img{
    width: 250px;
}

.fa-dumpster{
    font-size: 35px;
    color: darkblue;
    transition: .35s;
    cursor: pointer;
}

.fa-dumpster:hover{
    color:rgb(229, 190, 3);
}